.sidebar-docs__introduction {
    margin: 0;

    color: #666;
    font-size: 13px;
    line-height: 1.55;
}

.sidebar-docs__cards {
    display: flex;
    flex-direction: column;
    gap: 34px;
}

.sidebar-docs__card-title {
    margin-block: 0 0.83em;

    color: #353535;
    font-family: "Silkscreen", sans-serif;
}

.sidebar-docs__card-image {
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: 18px;
}

.sidebar-docs__card-description {
    margin: 0;

    color: #666;
    font-size: 13px;
    line-height: 1.55;
}
